# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
env/
ENV/
venv.bak/

# dotenv
.env

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Others
*.bak
*.swp
